{% extends 'base.html.twig' %}
{% block title %}Products{% endblock %}
{% block body %}
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>{{ product.price | format_currency('EUR') }}</p>
    <p>{{ product.category }}</p>
{% endblock %}